:root {
    --dark-bg: #1F2937;
    --header-color: #F9FAF8;
    --sec-color: #E5E7EB;
    --info-text: #4b5563;
    --cta-button-color: #3882F6;
    --info-header-color: #1F2937;
}

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-bg);
    padding: 20px 100px 0px 100px;
}

header .logo h1 {
    color: var(--header-color);
    font-size: 24px;
}

header .nav ul {
    display: flex;
    column-gap: 1em;
    list-style-type: none;
}

header .nav ul li a {
    color: var(--sec-color);
    text-decoration: none;
}

header .nav ul li a:hover {
    color: var(--header-color);
}

.hero {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--dark-bg);
    padding: 4em 6em;
    column-gap: 2em;
}

.hero .left img {
    height: auto;
    width: 500px;
}

.hero .right {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.hero .right h1 {
    font-size: 48px;
    color: var(--header-color);
}

.hero .right p {
    font-size: 18px;
    color: var(--sec-color);
}

.hero .right button {
    border: none;
    flex: 0 0 10%;
    width: 100px;
    padding: 5px 25px;
    border-radius: 10px;
    background-color: var(--cta-button-color);
    color: var(--header-color);
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
}

.info .title {
    display: flex;
    justify-content: center;
}

.info .title h1 {
    font-size: 36px;
    color: var(--info-header-color);
    padding: 2em 0em 2em 0em;
}

.info .items {
    display: flex;
    justify-content: center;
    column-gap: 2em;
    padding: 0em 0em 6em 0em;
}

.info .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .items .item img {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 60% 0;
}

.info .items .item .border {
    background-color: var(--cta-button-color);
    border-radius: 5px;
    width: 155px;
    height: 155px;
}

.info .items .item p {
    width: 150px;
    text-align: center;
    color: var(--info-text);
}

.quote {
    margin: 0;
    background: var(--sec-color);
    padding: 4em 10em;
}

.quote figcaption,
.quote blockquote {
    margin: 1em;
}

.quote blockquote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: var(--dark-bg);
}

.quote figcaption  {
    text-indent: 80%;
}

.ctas .cta {
    align-items: center;
    display: flex;
    background-color: var(--cta-button-color);
    padding: 5em 10em;
    margin: 5em 10em;
    border-radius: 1em;
    column-gap: 5em;
    justify-content: space-between;
}

.ctas .cta .text h1 {
    color: var(--header-color);
    font-size: 24px;
}

.ctas .cta .text p {
    color: var(--sec-color);
}

.ctas .cta button {
    display: flex;
    border: 2px solid var(--header-color);
    width: 150px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    background-color: var(--cta-button-color);
    color: var(--header-color);
    font-weight: bold;
}

footer {
    display: flex;
    background-color: var(--dark-bg);
    justify-content: center;
    padding: 2em 0em;
}

footer p {
    color: var(--header-color);
}